# Qt intermediate files
*.o
*.obj
Makefile*
moc_*
ui_*
qrc_*
.qmake.stash
build/
build_*/

.qtc_clangd/
build_log.txt

# Project specific
ModbusTCPAssistant
*.user
*.user.*

# OS files
.DS_Store
Thumbs.db

# Automatically added by Assistant
*.pro.user

# Added from Qt template by Assistant
*.LOG
*.autosave
*.csv
*.log
*.pro.user*
*.qbs.user*
*_qml.cpp
.pro.user
.vscode/
/third_party/*.tar.gz
/third_party/libmodbus*/
/third_party/libmodbus-3.1.11/
/third_party/libmodbus-aarch64/
/third_party/libmodbus-build/
/third_party/libmodbus/
180
624
ModbusTCPAssistant.pro.user
archive/
build.log
build_error*.txt
build_error_*.txt
build_output.txt
compile_commands.json
config.ini
docs/doxygen/html/
docs/source_txt/
documents/
moc_predefs.h
monitor_logs/
patch.txt
qmlcache_loader.cpp
res_qmlcache.qrc
system_check.log

# Added by Assistant staging review
*.exe

# Added by Assistant staging review
180_win7
